@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lora&display=swap");

* {
  box-sizing: border-box;

  margin: 0;
}
.main {
  background-color: rgb(219, 219, 219);
  color: rgb(33, 33, 33);
  font-family: "lato", sans-serif;
  font-weight: lighter;
}

button {
  border: 2px solid #171717;
  transition-duration: 300ms;
  font-size: 1.25rem;
  padding: 5px 20px;
  cursor: pointer;
  font-family: "lato", sans-serif;
}

button:hover {
  background-color: #171717;
  color: white;
}

img {
  width: 100%;
  height: auto;
}

.top-facade {
  height: 90vh;
}

.nav-bar {
  padding: 2px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid gray;
}

#main-logo {
  font-weight: 300;
  font-size: 3rem;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  padding: 0;
  flex-basis: 45%;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 400;
}

.swiss-facade {
  position: relative;
}

.dev-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 5%;
  width: 35%;
}

.black-box {
  height: 2rem;
  width: 2rem;
  background-color: #252525;
  margin-right: 20px;
}

.dev-name {
  font-family: "lora", serif;
  font-size: 2rem;
  color: #147a7a;
}

#profile-img {
  width: 300px;
  position: absolute;
  top: 0;
  right: 100px;
}

.dev-info {
  width: 30%;
  font-size: 1.25rem;
  position: absolute;
  top: 230px;
  right: 500px;
}

.dev-info p {
  margin-bottom: 10px;
}

.dev-bul {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 5%;
  position: absolute;
  top: 300px;
}

.bul {
  margin-bottom: 21px;
}

.large-p {
  font-weight: 400;
  border-bottom: 3px dashed #1c1c1c;
  padding-bottom: 4px;
  display: inline-block;
}

.project-title {
  font-size: 5rem;
  font-family: "lora";
  color: #8d0000;
  opacity: 0.7;
  margin-left: 300px;
}

.project-div {
  display: flex;
  flex-flow: column nowrap;
  border-bottom: 2px solid #232323;
  margin: 150px 0;
}

.projects {
  display: flex;
  flex-flow: row nowrap;
  border-top: 2px solid #232323;
  padding: 75px 50px;
  justify-content: space-between;
  align-items: flex-start;
  transition-duration: 300ms;
  cursor: pointer;
}

.projects:hover {
  background-color: #4d4d4d;
  color: white;
  transform: translateY(3%);
}

.projects h1 {
  font-size: 3rem;
  font-family: "lora", serif;
}

.projects p {
  flex-basis: 35%;
  font-weight: bolder;
  font-size: 1.25rem;
}

.project-btn {
  padding: 15px 30px;
}

.big-quote {
  margin: 250px 0;
  font-size: 5rem;
  font-weight: 700;
  font-family: "lora";
  text-align: center;
}

.about-div {
  border-bottom: 2px solid #232323;
  border-top: 2px solid #232323;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-p {
  padding: 0 220px;
  font-size: 1.25rem;
  font-weight: bolder;
}

#about-img {
  width: 500px;
}

.about-me h3 {
  margin-left: 200px;
  font-size: 2rem;
  font-weight: 400;
}
